In [2]:
from findspark import init
from pyspark.sql import SparkSession

In [3]:
ss = SparkSession.builder.getOrCreate()

In [4]:
dataset_path = "/home/cevat/workspace/apache-spark-notlarim/datasets/Video_Games_Sales_as_at_22_Dec_2016.csv" # datasets/dataset1.csv bu dosya yolu hata veriyor
dataset = ss.read.format("csv").option("header", "true").load(path=dataset_path)

In [55]:
dataset.groupBy("Platform").count().orderBy("count", ascending=False).collect()

[Row(Platform='PS2', count=2161),
 Row(Platform='DS', count=2152),
 Row(Platform='PS3', count=1331),
 Row(Platform='Wii', count=1320),
 Row(Platform='X360', count=1262),
 Row(Platform='PSP', count=1209),
 Row(Platform='PS', count=1197),
 Row(Platform='PC', count=974),
 Row(Platform='XB', count=824),
 Row(Platform='GBA', count=822),
 Row(Platform='GC', count=556),
 Row(Platform='3DS', count=520),
 Row(Platform='PSV', count=432),
 Row(Platform='PS4', count=393),
 Row(Platform='N64', count=319),
 Row(Platform='XOne', count=247),
 Row(Platform='SNES', count=239),
 Row(Platform='SAT', count=173),
 Row(Platform='WiiU', count=147),
 Row(Platform='2600', count=133),
 Row(Platform='NES', count=98),
 Row(Platform='GB', count=98),
 Row(Platform='DC', count=52),
 Row(Platform='GEN', count=29),
 Row(Platform='NG', count=12),
 Row(Platform='SCD', count=6),
 Row(Platform='WS', count=6),
 Row(Platform='3DO', count=3),
 Row(Platform='TG16', count=2),
 Row(Platform='PCFX', count=1),
 Row(Platform='GG', count=1)]

In [57]:
from pyspark.sql import functions as f
dataset.groupBy("Platform").agg(f.sum("NA_Sales")).collect()
# dataset.groupBy("Platform").sum("NA_Sales").collect() hata veriyor. Aynı şeyi yaptığımı düşünüyorum ama nedense hata veriyor. NA_Sales numeric kolon değil diyor

[Row(Platform='3DO', sum(NA_Sales)=0.0),
 Row(Platform='PC', sum(NA_Sales)=94.53000000000029),
 Row(Platform='PS3', sum(NA_Sales)=393.48999999999995),
 Row(Platform='NES', sum(NA_Sales)=125.94000000000005),
 Row(Platform='PS', sum(NA_Sales)=336.519999999998),
 Row(Platform='DC', sum(NA_Sales)=5.43),
 Row(Platform='GEN', sum(NA_Sales)=21.049999999999997),
 Row(Platform='PS2', sum(NA_Sales)=583.8399999999925),
 Row(Platform='3DS', sum(NA_Sales)=83.48999999999992),
 Row(Platform='PCFX', sum(NA_Sales)=0.0),
 Row(Platform='GG', sum(NA_Sales)=0.0),
 Row(Platform='WiiU', sum(NA_Sales)=38.10000000000003),
 Row(Platform='SNES', sum(NA_Sales)=61.22999999999998),
 Row(Platform='GB', sum(NA_Sales)=114.32000000000001),
 Row(Platform='SCD', sum(NA_Sales)=1.0),
 Row(Platform='N64', sum(NA_Sales)=139.02000000000015),
 Row(Platform='PS4', sum(NA_Sales)=108.7400000000001),
 Row(Platform='PSP', sum(NA_Sales)=109.1699999999998),
 Row(Platform='2600', sum(NA_Sales)=90.59999999999992),
 Row(Platform='XOne', sum(NA_Sales)=93.12000000000005),
 Row(Platform='X360', sum(NA_Sales)=602.4699999999993),
 Row(Platform='GBA', sum(NA_Sales)=187.54000000000033),
 Row(Platform='WS', sum(NA_Sales)=0.0),
 Row(Platform='Wii', sum(NA_Sales)=496.8999999999991),
 Row(Platform='GC', sum(NA_Sales)=133.46000000000004),
 Row(Platform='PSV', sum(NA_Sales)=12.579999999999973),
 Row(Platform='XB', sum(NA_Sales)=186.6900000000008),
 Row(Platform='DS', sum(NA_Sales)=382.6699999999979),
 Row(Platform='TG16', sum(NA_Sales)=0.0),
 Row(Platform='NG', sum(NA_Sales)=0.0),
 Row(Platform='SAT', sum(NA_Sales)=0.7200000000000001)]

In [58]:
dataset.filter("Platform == '3DO'").select("NA_Sales").collect() # 3DO platformunda çıkan oyunların Amerikadaki satış rakamları ya da elde ettiği kar

[Row(NA_Sales='0'), Row(NA_Sales='0'), Row(NA_Sales='0')]